<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>落木千山</title>
    <link rel="icon" type="image/x-icon"
          href="{{ url_for('static',filename='image/kitty.ico') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/mycss.css') }}">

</head>
<body style="background-color: gainsboro">
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <ul class="nav nav-pills">
                    <li><a href="/">首页</a></li>
                    <li><a href="#">文章</a></li>
                    <li><a href="#">关于</a> </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="nav nav-pills">
                    <li><a href="#">搜索</a></li>
                    <li><a href="/login">登录</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

{% block index %}{% endblock %}
{% block login %}{% endblock %}
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
</body>
</html>
